// Bulma Framework
@import "bulma";

// Your Styles


@font-face {
    font-family: "Redacted";
    src: url("/assets/fonts/web/redacted-regular.eot");
    src: url("/assets/fonts/web/redacted-regular.woff2") format("woff2"),
         url("/assets/fonts/web/redacted-regular.woff") format("woff"),
         url("/assets/fonts/web/redacted-regular.otf") format("opentype"),
         url("/assets/fonts/web/redacted-regular.svg#filename") format("svg");
}

body {
    font-family: 'Redacted';
}
