<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}
    
    <!--  This Site/App -->
    <title> {{ site.title}} </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    
  </head>
  
<body>

<!-- Keys -->
{% for post in site.posts %}
 
  <div class="keys">
      <div data-key="{{ post.keycode }}" class="key">
        <span class="sound"> {{ post.title }} </span>
      </div>
  </div>
  <!-- Sounds -->
  <audio data-key="{{ post.keycode }}" src="{{ post.file }}"></audio>
  
    
{% endfor %}
   
   
   {% include scripts.html %}
    

    
</body>
</html>
